# exclude everything
somefolder/*

# exception to the rule
!somefolder/.gitkeep 

faces/
Siamese_MobileNetV2/Faces/
Siamese_MobileNetV2/Faces_cropped/
Siamese_MobileNetV2/lfw/
Siamese_MobileNetV2/runs/
Siamese_MobileNetV2/weights/
Siamese_MobileNetV2/embeddings/
Siamese_MobileNetV2/Train_Loss.png
Siamese_MobileNetV2/Train_Loss.csv
